/*********************/
/*********************/
/*********************/
a{
    color: #40aed7;
    color: #d6d6d6;
    color: #e9e9e9;
    color: #666666;
    color: #ff6600;
    color: #161616;
    color: #1b1b1b;
}
/*********************/
/*********************/
a{
    color: cornflowerblue;
    color: cornsilk;
    color: crimson;
    color: tomato;
    color: darkblue;
    color: darkgray;
    color: darkgreen;
    color: darkmagenta;
    color: darkolivegreen;
    color: darkorange;
    color: darkorchid;
    color: darkred;
    color: darksalmon;
    color: darkseagreen;
    color: deeppink;
    color: gold;
    color: indianred;
    color: lightcoral;
    color: lightseagreen;
    color: maroon;
    color: midnightblue;
    color: navy;
    color: papayawhip ;
    color: rebeccapurple;
    color: salmon;
    color: springgreen;
    color: blue;
}

a{
     https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css 
}